<footer class="site-footer">

<p class="powered-by">

Is your published article, using an Artinis device, not included in the list? Incorrect metadata? Would you like to write a summary or add more information about an article? <br>
Please contact us at <a href=mailto:askforinfo@artinis.com>askforinfo@artinis.com</a>.
<br><br>
<a class="btn btn-outline-primary my-1 mr-1" href=https://www.artinis.com/ target=_blank rel=noopener><i class="fas fa-link mr-1"></i>Go to main Artinis website</a>
<br><br>
© 2000 - 2021 Artinis Medical Systems<br>                                                                        
Einsteinweg 17, 6662 PW Elst<br>
The Netherlands<br>                                                   
+31481350980<br>

<ul class=network-icon aria-hidden=true style="width: 100%;margin: auto"><li style="padding: 5px"><a href=mailto:askforinfo@artinis.com><i class="fas fa-envelope"></i></a></li><li style="padding: 5px"><a href=https://twitter.com/Artinis_MS target=_blank rel=noopener><i class="fab fa-twitter"></i></a></li><li style="padding: 5px"><a href=https://www.youtube.com/channel/UC6K8TjErLGrO5wir6NiFn_Q target=_blank rel=noopener><i class="fab fa-youtube"></i></a></li><li style="padding: 5px"><a href=https://www.linkedin.com/company/5945299/ target=_blank rel=noopener><i class="fab fa-linkedin-in"></i></a></li><li style="padding: 5px"><a href=https://www.facebook.com/ArtinisMedicalSystems/ target=_blank rel=noopener><i class="fab fa-facebook-f"></i></a></li><li style="padding: 5px"><a href=https://www.instagram.com/artinis_nirs/ target=_blank rel=noopener><i class="fab fa-instagram"></i></a></li></ul>
<br>
<p style = "text-align: center; font-size: .4rem;">
Published with <a href="https://wowchemy.com/?utm_campaign=poweredby" target="_blank" rel="noopener">Wowchemy</a>
</p>
</p>
</footer>
